.dialog-containts {
    min-width: 352px;
    min-height: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-container {
    display: flex;
    justify-content: flex-end;
}
